:root {
    /* colors */
    --clr-dark: 0 0% 27%;   /* dark gray */
    --clr-light: 0 0% 63%;  /* very dark gray */
    --clr-black: 0 0% 0%;   /* black */
    --clr-white: 0 0% 100%; /* white */

    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 2.2rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.9rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff: 'League Spartan', sans-serif;


    --mobile: 24rem;      /*384px*/
    --desktop: 90rem;       /*1440px*/
}

/* .bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-light { background-color: hsl( var(--clr-light) );}
.bg-black { background-color: hsl( var(--clr-black) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-light { color: hsl( var(--clr-light) );}
.text-black { color: hsl( var(--clr-black) );}
.text-white { color: hsl( var(--clr-white) );} */

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.letter-spacing-1 { letter-spacing: 5px; } 
.letter-spacing-2 { letter-spacing: 3px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 